projects/plugins/com.liferay.ide.server.core/dtd/liferay-layout-templates_3_6_0.dtd

<!--
<!DOCTYPE layout-templates PUBLIC
	"-//Liferay//DTD Layout Templates 3.6.0//EN"
	"http://www.liferay.com/dtd/liferay-layout-templates_3_6_0.dtd">
-->

<!ELEMENT layout-templates (layout-template*)>

<!ELEMENT layout-template (template-path, thumbnail-path?)>

<!ATTLIST layout-template
	id CDATA #REQUIRED
	name CDATA #REQUIRED
>

<!ELEMENT template-path (#PCDATA)>

<!ELEMENT thumbnail-path (#PCDATA)>