projects/plugins/com.liferay.ide.server.core/dtd/liferay-layout-templates_4_0_0.dtd

<!--
<!DOCTYPE layout-templates PUBLIC
	"-//Liferay//DTD Layout Templates 4.0.0//EN"
	"http://www.liferay.com/dtd/liferay-layout-templates_4_0_0.dtd">
-->

<!ELEMENT layout-templates (standard?, custom?)>

<!ELEMENT standard (layout-template*)>

<!ELEMENT layout-template (template-path, thumbnail-path?)>

<!ATTLIST layout-template
	id CDATA #REQUIRED
	name CDATA #IMPLIED
>

<!ELEMENT template-path (#PCDATA)>

<!ELEMENT thumbnail-path (#PCDATA)>

<!ELEMENT custom (layout-template*)>