tools/plugins/com.liferay.ide.server.core/dtd/liferay-friendly-url-routes_7_0_0.dtd

<!--
<!DOCTYPE routes PUBLIC
	"-//Liferay//DTD Friendly URL Routes 7.0.0//EN"
	"http://www.liferay.com/dtd/liferay-friendly-url-routes_7_0_0.dtd">
-->

<!--
The routes element is the root of the deployment descriptor for a set of Liferay
friendly URL mapper routes.
-->
<!ELEMENT routes (route*)>

<!--
The route element contains information on a single route.
-->
<!ELEMENT route (pattern, generated-parameter*,
ignored-parameter*, implicit-parameter*, overridden-parameter*)>

<!--
The pattern element specifies the pattern of the mapped friendly URL.
-->
<!ELEMENT pattern (#PCDATA)>

<!--
The generated-parameter element specifies the pattern of a parameter that will
be generated from other parameters when a URL is recognized. When a URL is
built, these virtual parameters will be parsed from the generated parameter and
made available in the route pattern for constructing the URL.
-->
<!ELEMENT generated-parameter (#PCDATA)>

<!--
The name attribute specifies the name of the generated parameter.
-->
<!ATTLIST generated-parameter
	name CDATA #REQUIRED
>

<!--
The ignored-parameter element specifies a parameter that should be ignored and
not included in generated URLs. Ignored parameters do not effect URL
recognition.
-->
<!ELEMENT ignored-parameter EMPTY>

<!--
The name attribute specifies the name of the parameter to be ignored.
-->
<!ATTLIST ignored-parameter
	name CDATA #REQUIRED
>

<!--
The implicit-parameter element specifies a parameter that is not present
in the route pattern.
-->
<!ELEMENT implicit-parameter (#PCDATA)>

<!--
The name attribute specifies the name of the default URL parameter.
-->
<!ATTLIST implicit-parameter
	name CDATA #REQUIRED
>

<!--
The overridden-parameter element specifies a parameter that should be set to a
certain value when a URL is recognized. This override value will be set
regardless of any preexisting value, including one from a implicit-parameter or
one extracted from the URL.
-->
<!ELEMENT overridden-parameter (#PCDATA)>

<!--
The name attribute specifies the name of the parameter to be overridden.
-->
<!ATTLIST overridden-parameter
	name CDATA #REQUIRED
>